body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:570px;
}
#u703 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  position:absolute;
  left:0px;
  top:520px;
  width:360px;
  height:50px;
}
#u705 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
  background:inherit;
  background-color:rgba(29, 191, 151, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
}
#u707 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u708 {
  position:absolute;
  left:30px;
  top:530px;
  width:30px;
  height:25px;
}
#u709 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u710 {
  position:absolute;
  left:120px;
  top:530px;
  width:30px;
  height:25px;
}
#u710_img.mouseDown {
}
#u710.mouseDown {
}
#u711 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u712 {
  position:absolute;
  left:303px;
  top:530px;
  width:25px;
  height:25px;
}
#u713 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u714 {
  position:absolute;
  left:215px;
  top:530px;
  width:25px;
  height:25px;
}
#u715 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u716 {
  position:absolute;
  left:132px;
  top:14px;
  width:101px;
  height:27px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u718 {
  position:absolute;
  left:120px;
  top:533px;
  width:30px;
  height:25px;
}
#u718_img.mouseDown {
}
#u718.mouseDown {
}
#u719 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u720 {
  position:absolute;
  left:215px;
  top:533px;
  width:25px;
  height:25px;
}
#u721 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u722 {
  position:absolute;
  left:30px;
  top:533px;
  width:30px;
  height:25px;
}
#u723 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:0px;
  top:55px;
  width:360px;
  height:85px;
}
#u725 {
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u726 {
  position:absolute;
  left:15px;
  top:65px;
  width:65px;
  height:65px;
}
#u727 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:101px;
  top:74px;
  width:128px;
  height:16px;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  position:absolute;
  left:101px;
  top:104px;
  width:104px;
  height:16px;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u732 {
  position:absolute;
  left:0px;
  top:160px;
  width:360px;
  height:205px;
}
#u733 {
  position:absolute;
  left:2px;
  top:94px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u734 {
  position:absolute;
  left:15px;
  top:210px;
  width:345px;
  height:1px;
}
#u735 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u736 {
  position:absolute;
  left:15px;
  top:260px;
  width:345px;
  height:1px;
}
#u737 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u738 {
  position:absolute;
  left:15px;
  top:310px;
  width:345px;
  height:1px;
}
#u739 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:67px;
}
#u740 {
  position:absolute;
  left:10px;
  top:63px;
  width:70px;
  height:67px;
}
#u741 {
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u742 {
  position:absolute;
  left:65px;
  top:113px;
  width:20px;
  height:20px;
}
#u743 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u744 {
  position:absolute;
  left:50px;
  top:180px;
  width:57px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u746 {
  position:absolute;
  left:50px;
  top:226px;
  width:57px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u748 {
  position:absolute;
  left:50px;
  top:277px;
  width:57px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u750 {
  position:absolute;
  left:315px;
  top:173px;
  width:25px;
  height:25px;
}
#u751 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u752 {
  position:absolute;
  left:315px;
  top:224px;
  width:25px;
  height:25px;
}
#u753 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u754 {
  position:absolute;
  left:315px;
  top:271px;
  width:25px;
  height:25px;
}
#u755 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u756 {
  position:absolute;
  left:15px;
  top:180px;
  width:20px;
  height:15px;
}
#u757 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u758 {
  position:absolute;
  left:15px;
  top:227px;
  width:20px;
  height:15px;
}
#u759 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u760 {
  position:absolute;
  left:15px;
  top:278px;
  width:20px;
  height:15px;
}
#u761 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u762 {
  position:absolute;
  left:15px;
  top:330px;
  width:20px;
  height:16px;
}
#u763 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u764 {
  position:absolute;
  left:50px;
  top:329px;
  width:57px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u765 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u766 {
  position:absolute;
  left:315px;
  top:323px;
  width:25px;
  height:25px;
}
#u767 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u768 {
  position:absolute;
  left:315px;
  top:85px;
  width:25px;
  height:25px;
}
#u769 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u770 {
  position:absolute;
  left:303px;
  top:178px;
  width:19px;
  height:16px;
  color:#AEAEAE;
}
#u771 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u772 {
  position:absolute;
  left:303px;
  top:229px;
  width:19px;
  height:16px;
  color:#AEAEAE;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  position:absolute;
  left:0px;
  top:385px;
  width:360px;
  height:55px;
}
#u775 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u776 {
  position:absolute;
  left:152px;
  top:405px;
  width:57px;
  height:16px;
  color:#FF3300;
}
#u777 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
